body {
    background-image: url('http://localhost/bill/images/view.jpg');
    background-size: 100%;
    background-color: #00BFFF;
	}
#Sign-In
{ margin-top:100px;
 margin-right:150px; 
 margin-left:600px; 
 
} 
 
